h2{
	text-align: center;
	margin-top: 20%;
}

.place{
	width: 10%;
	height: 15%;
}

.conform{
	margin: 0 auto;

}

.id{
	margin-top: 2%;
	margin-bottom: 1%;
}

.idid{
	margin-bottom: 1%;
}

button{
	margin-top: 1%;
}

.jeankevin{
	text-align: center;
	margin-top: 1%;
}