/* Page index.php */

h2{
	text-align: center;
	margin-top: 20%;
}

.place{
	width: 10%;
	height: 15%;
}

.conform{
	margin: 0 auto;

}

.id{
	margin-top: 2%;
	margin-bottom: 1%;
}

.idid{
	margin-bottom: 1%;
}

button{
	margin-top: 1%;
}

.jeankevin{
	text-align: center;
	margin-top: 1%;
}


/* Page index_inscription.php */

h1{
	text-align: center;
	margin-bottom: 8%;
}

.mt10 {
	margin-top: 2%;
}

.formulaire{
	border-radius: 25px;
    background: #336699;
    width: 100%;
    height: 50%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.pourquoipas{
	height: 5%;
	width: 9%;
	margin-top: 3%;
}

body{
	background-color: #BEA79D;
	color: white;
}

input{
	color: black;
}