/* Page index.php */

h2{
	text-align: center;
	margin-bottom: 15%;
	font-size: 36px;
}

.place{
	width: 10%;
	height: 15%;
}

.conform{
	margin: 0 auto;

}

.id{
	margin-top: 2%;
	margin-bottom: 1%;
}

.idid{
	margin-bottom: 1%;
}

button{
	margin-top: 1%;
	color: black;
}

.jeankevin{
	text-align: center;
	margin-top: 1%;
}

.conform{
	border-radius: 25px;
    background: #336699;
    width: 100%;
    height: 100%;
    padding-bottom: 15%;
    padding-top: 3%;
}

body{
	background-color: #BEA79D;
	color: white;
}

a{
	color: white;
}

a:visited{
	color: red;
}

/* Page index_inscription.php */

h1{
	text-align: center;
	margin-bottom: 8%;
}

.mt10 {
	margin-top: 2%;
}

.formulaire{
	border-radius: 25px;
    background: #336699;
    width: 100%;
    height: 50%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.pourquoipas{
	height: 5%;
	width: 9%;
	margin-top: 3%;
}

body{
	background-color: #BEA79D;
	color: white;
}

input{
	color: black;
}

/*Page accueil.php*/

.accueil{
	text-align: center;
}

.bienvenue{
	background: #336699;
	color: white;
	border-radius: 0px 0px 25px 25px;
}
.recherche{
	background: #336699;
	color: white;
	border-radius: 0px 0px 25px 25px
}

.zoneimg{
	width: 30%;
	margin: 2%;
	display: flex;
	flex-direction: column;
}

img{
	width: 250px;
	height: 250px;
}

.contour{
	width: 60%;
	margin: 2%;
	background: #336699;
	border-radius: 25px;
}

.categories, .informations{
	margin: 1%;
}

.modifier{
	text-align: right;
	font-size: 11px;
	margin: 1%;
}
